//
//  Staging.xcconfig
//  MyFramework
//
//  Created by Alessandro Marzoli on 12/02/21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


// You’re encountering this build error because the framework wasn’t built, as the framework doesn’t have a matching configuration named Staging.

// You can resolve this by adding a Staging configuration to the framework’s project.

// Generally, all projects should have the same set of configuration names to avoid issues like this, so if you need to add a new configuration to the app in the future, that configuration will need to be run through all of the Xcode projects referenced by the build.
